+contentFor "title"
    with leadData
        h1 {{profile.firstname}} {{profile.lastname}} - Make Client
+contentFor "breadcrubms"
    li
        a(href="{{pathFor 'leads'}}") Leads
    li.active
        a(href="{{pathFor 'leadIntoClient'}}") Make Client
+leadTabs
with leadData
    +autoForm(collection="Meteor.users" id="leadIntoClient" doc=leadData)
        .panel.panel-primary
            .panel-heading
                h3.panel-title Details
            .panel-body(style="padding:0;padding-top:15px;padding-bottom:15px")
                .col-sm-4
                    +afQuickField name='profile.prefix'
                    +afQuickField name='profile.firstname'
                    +afQuickField name='profile.lastname'
                    +afQuickField name='profile.language'
                    +afQuickField name='profile.SSN'
                    +afQuickField name='profile.birthday' buttonClasses="glyphicon glyphicon-calendar"

                .col-sm-4
                    +afQuickField name='emails.0.address'
                    +afQuickField name='profile.emailOptOut' noselect=true
                    +afQuickField name='profile.phone'
                    +afQuickField name='profile.phone2'
                    +afQuickField name='profile.fax'
                    +afQuickField name='profile.phoneOptOut' noselect=true
                    +afQuickField name='profile.textOptOut' noselect=true

                .col-sm-4
                    +afQuickField name='profile.address'
                    +afQuickField name='profile.address2'
                    +afQuickField name='profile.zip'
                    +afQuickField name='profile.city'
                    +afQuickField name='profile.state'

        .panel.panel-primary
            .panel-heading
                h3.panel-title Setup
            .panel-body(style="padding:0;padding-top:15px;padding-bottom:15px")
                .col-sm-4
                    +afQuickField name='profile.assignedTo'
                    +afQuickField name='profile.salesRep'
                .col-sm-4
                    +afQuickField name='profile.affiliate'
                    +afQuickField name='profile.parentAffiliate'
                .col-sm-4
                    +afQuickField name='profile.jointCustomer'
                    +afQuickField name='profile.source'

        .panel.panel-primary
            .panel-heading
                h3.panel-title Portal Setup
            .panel-body(style="padding:0;padding-top:15px;padding-bottom:15px")
                .col-sm-4
                    +afQuickField name='profile.portalAccess' noselect=true
                    +afQuickField name='profile.interviewer' noselect=true
                .col-sm-4
                    +afQuickField name='profile.customerPrivacy'
                .col-sm-4
                    +afQuickField name='profile.profilesToDisplay' noselect=true

        .panel.panel-primary
            .panel-heading
                h3.panel-title Payment Setup
            .panel-body(style="padding:0;padding-top:15px;padding-bottom:15px")
                .col-sm-4
                    +afQuickField name='profile.creditCardNumber'
                    +afQuickField name='profile.creditCardNumberExpMonth'
                    +afQuickField name='profile.creditCardNumberExpYear'
                .col-sm-4
                    +afQuickField name='profile.creditCardFirstName'
                    +afQuickField name='profile.creditCardLastName'
                .col-sm-4
                    +afQuickField name='profile.creditCardAddress1'
                    +afQuickField name='profile.creditCardAddress2'
                    +afQuickField name='profile.creditCardPostalCode'
                    +afQuickField name='profile.creditCardCity'
                    +afQuickField name='profile.creditCardState'
                    +afQuickField name='profile.creditCardCountry'

        .col-sm-12
            button.btn.btn-block.btn-primary(type="submit")
                | Save & Make Client

